.account-dashboard {
  background-color: #d8e8e7;
  padding-bottom: 15%;
  padding-right: 0;
}

.user-account .top-div {
  background-color: #44a98b;
  height: 2rem;
}
.user-account .name{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 8%;
}
.user-account .logo {
  background-color: #19443f;
  height: 10rem;
}

.user-account .image {
  display: flex;
  justify-content: center;
  /* margin-top: 2rem; */
}
.user-account .img-logo {
  width: 60%;
  /* height:2.5rem; */
  margin-top: 2rem;
}
.user-account .sidebar-title {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
.user-account .title {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #a0aec0;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
}
.user-account .icon {
  width: 2.5rem;
  text-align: center;
  padding: 0.3rem;
  background-color: white;
  color: #44a98b;
  border-radius: 15px;
}
.user-account .sidebar-title:hover .icon {
  background-color: #44a98b;
  color: white;
}

.user-account .sidebar-title {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.user-account .title {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #a0aec0;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
}

.user-account .icon {
  width: 2.5rem;
  text-align: center;
  padding: 0.3rem;
  background-color: white;
  color: #44a98b;
  border-radius: 15px;
}

.user-account .sidebar {
  margin: 0px 1.5rem;
}
.user-account .icon:hover {
  width: 2.5rem;
  text-align: center;
  padding: 0.3rem;
  background-color: white;
  color: #44a98b;
  border-radius: 15px;
}

.user-account .table-center {
  text-align: center;
}
.user-account .btn-text {
  margin-top: 11px;
}
.user-account .admin-sub-wrapper {
  padding: 0;
}
.user-account .nav-btn {
  border-radius: 12px;
  /* padding: 6px 21px 6px 21px; */
  background-color: #29645e;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}
.user-account .tab {
  margin-top: 4rem;
}
.user-account .profile-detail{
    padding-top: 3%;
}
.user-account .account-detail{
    padding-top: 4%;
}
.user-account .profile-detail-outer{
    width: 90%;
    border-radius: 10px;
    background-color: #d8e8e7;
    padding: 2%;
    margin: auto;
}
.user-account .edit-button button{
    background-color: #19443f;
    color: white;
    border: none;
    padding: 1%;
}
.user-account td{
    border: none;
}
.user-account .profile-detail table{
    min-width: 50%;
}
.user-account input{
    border: none;
    background-color: transparent;
}
.user-account .admin-product-card {
  margin-top: 3rem;
}

.user-account .subHeading {
  margin: 1rem;
}

.user-account h1 {
  margin-top: 3rem;
  font-size: 25px;
  margin-left: 2rem;
  font-weight: 600;
}

.user-account h3 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #44a98b;
  margin-left: 2rem;
}

.user-account .admin-card-header {
  display: flex;
  justify-content: space-between;
}

.user-account .subHeading {
  margin: 1rem;
}

.user-account .admin-table-card {
  margin-top: 3rem;
}

.user-account .admin-input-dropdown {
  display: flex;
  justify-content: space-between;
}

.nav-admin-page {
}

.user-account h1 {
  margin-top: 3rem;
  font-size: 25px;
  margin-left: 2rem;
  font-weight: 600;
}

.user-account h3 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #44a98b;
  margin-left: 2rem;
}

.user-account select[type="text"] {
  border-radius: 10px;
  background-color: #e2e8f0;
  padding: 0.7rem;
  border: none;
}
.user-account .short {
  margin-left: 1rem;
}

.user-account .admin-table-div {
  margin-top: 2rem;
}

.user-account select[type="text"] {
  border-radius: 10px;
  background-color: #e2e8f0;
  padding: 0.7rem;
  border: none;
}

.admin-dashboard-card {
  margin-top: 30%;
}

/* dashboard */
.user-account .order-analysis-title {
  font-family: Montserrat;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.user-account .order-color-analysis {
  background: linear-gradient(33.73deg, #19443f 1.8%, #28b6a8 105.45%),
    linear-gradient(0deg, #d9d9d9, #d9d9d9);
  width: 38%;
  padding: 21px;
  border-radius: 15px;
  color: white;
}

.user-account .order-color-revenue {
  background: linear-gradient(
    79.4deg,
    #36914b 0.36%,
    #44a95c 58.15%,
    #7bf197 117.12%
  );
  width: 38%;
  padding: 21px;
  border-radius: 15px;
  color: white;
}

.user-account .admin-dashboard-card {
  display: flex;
  justify-content: space-between;
}

.user-account .admin-dash-order {
  display: flex;
  justify-content: space-between;
}

.user-account .orders-dash-card-format {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.4rem;
  margin-bottom: 3rem;
}

.order-dash-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-dashboard-graph-cart {
  border: 0;
  /* background: linear-gradient(33.73deg, #19443F 1.8%, #28B6A8 105.45%); */
  /* height: 13rem; */
  /* width: 25rem; */
}

.dash-desc-content {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.progress-bar {
  width: 3.2rem;
  height: 0.2rem;
  border: 10px;
  background-color: #44a98b;
}
.order-bar-icon {
  display: flex;
  background-color: #04aa6d;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin: 4px 6px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
 .user-account .admin-product-card table th{
  border: none;
}
@media (max-width: 768px) {
  .user-account .profile-head h2{
    font-size: 22px;
    margin: 0;
  }
  .user-account .profile-detail{
    padding-top: .2rem;
  }
  .user-account .profile-detail tr{
    font-size: 13px;
  }
  .user-account .edit-button{
    font-size: 13px;
    padding: .4rem;
  }
  .user-account .edit-button a{
    padding: .4rem;
  }
  .user-account .profile-head h2{
    padding: .4rem;
  }
}