.service-pop-main {
    width: 100%;
}
.service-pop-submain {
    width: 100%;
    border-radius:  37px;
    background: var(--light-base-green-2, #EBF6F5);
    margin: auto;
}
.service-pop-submain  .service-pop-text {
    margin-top: 2rem;
}
.service-pop-main .service-pop-heading-text {
    color: var(--light-base-green-2, #EBF6F5);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    /* padding: 3px 10px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--darkgreen-primary, #19443F);
    width: fit-content;
    margin-bottom: 1rem;
}
.service-pop-main .service-pop-subtext {
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.service-pop-main .service-pop-image{
    padding: 0;
}
.service-pop-main .service-pop-image img{
    width: 100%;
}