.single_blog {
  background-color: #dbeeea;
  padding-top: 70px;
  padding-bottom: 8rem;
}

.single_blog .single_blog_tile {
  background-color: #ebf6f5;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 104px 0px rgba(41, 100, 94, 0.4),
    0px 4px 20px 0px rgba(41, 100, 94, 0.1);
}

.single_blog .single_blog_tile .tile_title {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 331px;
  position: relative;
}

.single_blog .single_blog_tile .tile-circle {
  width: 0;
  height: 0;
  border-radius: 0 500px 0 0;
  border: 70px solid #44a98b;
  bottom: 00px;
  left: 0px;
  padding: 0px;
  position: absolute;
}
.single_blog .single_blog_tile .title_text {
  width: 90%;
  margin: auto;
}

.single_blog .single_blog_tile .tile_title .title_text h1 {
  background-color: #44a98b;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}

.single_blog .single_blog_tile .tile_title .title_text p {
  font-weight: bold;
}

.single_blog .single_blog_tile .tile_image {
  padding: 0;
  position: relative;
}
.single_blog .single_blog_tile .tile_image .blogpage_img {
  height: 130%;
  width: 100%;
  top: 50%;
  bottom: 0;
  position: absolute;
  border-radius: 500px 0% 0% 500px;
  background-size: cover;
  background-repeat: no-repeat;

  transform: translateY(-50%);
}
.single_blog_content_below_title {
  padding-top: 9px;
}
.single_blog_content_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.btn-circle {
  padding: 6px 0px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 1.42;
  margin-right: 25px;
}

.single_blog_content_buttons button {
  background-color: #44a98b;
  border-radius: 10px;
  color: white;
  border: none;
  margin-left: 4px;
  padding: 5px;
}
.single_blog .single_blog_content_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single_blog_below_tile {
  width: 90%;
  margin: auto;
  margin-top: 70px;
}
.single_blog_content_keywords {
  display: flex;
  flex-direction: row;
}
.single_blog_content_keywords span a {
  padding: 5px 9px;
  margin-right: 10px;
  border-radius: 7px;
  background-color: #ffffffe6;
  color: black;
  text-decoration: none;
}

.single_blog_content_description {
  background-color: #ffffffe6;
  margin-top: 15px;
  padding: 30px;
  border-radius: 4px;
  margin-right: 30px;
}

.single_blog_relatedpost .relatedpost_card {
  display: flex;
  flex-direction: column;
}
.single_blog_relatedpost .relatedpost_card .card {
  margin-bottom: 10px;
}

.relatedpost_line {
  display: flex;
  align-items: center;
}
.below_relatedpost {
  width: 100px;
  height: 7px;
  background-color: #c8a33d;
  margin-bottom: 30px;
  overflow: hidden;
}

.below_relatedpost_1 {
  width: 215px;
  height: 1.5px;
  background-color: #44a98b;
  margin-bottom: 30px;
}

.blogcard_color {
  color: #c8a33d;
  font-weight: bold;
}

.single_blog .card-text {
  font-size: 12px;
  color: black;
}
.single_blog .btn-read {
  background-image: linear-gradient(
    79deg,
    #36914b 0.36%,
    #44a95c 58.15%,
    #7bf197 117.12%
  );
  color: white;
  border: none;
}
.single_blog .back-button {
  border: none;
}
@media (max-width: 768px) {
  .single_blog {
    padding-bottom: 10rem;
    padding-top: 3rem;
  }
  .single_blog .tile-circle {
    display: none;
  }
  .single_blog .single_blog_tile .tile_title {
    height: 14rem;
  }
  .single_blog .single_blog_content_title h1 {
    font-size: 20px;
  }
  .single_blog .single_blog_content .single_blog_content_description p {
    font-size: 13px;
  }
  .single_blog_below_tile {
    margin-top: 2rem;
  }
  .single_blog_content_description {
    margin: 0;
    padding: 1.9rem;
  }
  .single_blog_relatedpost {
    padding-top: 2rem;
  }
  .single_blog .card-body {
    padding-top: 5rem !important;
    background-image: linear-gradient(to top, white 71%, #ffffff00 100%);
    margin-top: -9rem;
  }
  .single_blog_relatedpost .relatedpost_card .card {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .single_blog .card-body h5
  {
    font-size: 17px;
    padding: 0;
    margin: 0;
  }
  .card-text{
    margin-top: 0.7rem;
  }
  .blogcard_color p {
    font-size: 13px;
  }
  .below_relatedpost_1 {
    width: 236px;
  }
}
