.invoice-main {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.5in;
    width: 8.5in;
}

.invoice-main .invoice-header h1 {
    background-color: black;
    border-radius: 0.25rem;
    margin: 0 0 1rem;
    padding: 0.5em 0;
    color: white;
    letter-spacing: 0.5em; 
    text-align: center; 
}


.table-details {
    margin-top: 3rem;
}

.table-details .thead tr{
    padding: 10;
}

.table-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-details th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-details th {
    background-color: #f2f2f2;
}

.table-details tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-details tfoot {
    font-weight: bold;
}

.table-details tfoot td {
    border-top: 2px solid #ddd;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    font-size: 16px;
    line-height: 0.5;
}

.section-bottom {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5rem;
    margin-bottom: 20px;
}

