* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.btn-container {
    display: flex;
    justify-content: right;
    align-items: right;
}

.comment {
    margin-right: 160px;
}