.order-confirm {
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 3rem;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(41, 100, 94, 0.10) -0.43%, rgba(68, 169, 139, 0.10) 99.93%), var(--light-base-green-2, #EBF6F5);
}

.order-confirm .main-1 {
    /* padding-top: 3rem !important; */
    margin: auto;
    width: 90%;
    background-color: #fff;
    filter: drop-shadow((0px 10px 30px rgba(25, 68, 63, 0.20)));
    margin: auto;
    border-radius: 12px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    box-shadow: 0px 10px 30px rgba(25, 68, 63, 0.20);
}

.sub-main {
    display: flex;
}

.details {
    display: flex;
}

.OrderDetails {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    width: 32%;
    border-radius: 12px;
    background: linear-gradient(34deg, rgba(25, 68, 63, 0.80) 1.8%, rgba(40, 182, 168, 0.80) 105.45%), #D9D9D9;
}

.ShippingDetails {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    width: 32%;
    border-radius: 12px;
    background: linear-gradient(79deg, #9CCBA7 0.36%, #A1D3AD 58.15%, #B3EAC0 117.12%);
}

.BillingDetails {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    width: 32%;
    border-radius: 12px;
    background: linear-gradient(79deg, #CEE5D3 0.36%, #D0E9D6 58.15%, #D8F4DF 117.12%);
}

.order-confirm h1 {
    color: rgba(25, 68, 63, 1)
}

.order-confirm p {
    color: rgba(68, 169, 139, 1)
}

.OrderDetails-text {
    padding-right: 10px;
    line-height: 1.4;
}

.OrderDetails-text h4 {
    padding-bottom: 0.5rem;
    color: rgba(235, 246, 245, 1)
}

.OrderDetails-text p {
    text-overflow: ellipsis;
    color: rgba(235, 246, 245, 1);
    opacity: 0.7;
    padding-bottom: 0;
    margin-bottom: 2px;
}

.ShippingDetails-text {
    padding-right: 10px;
    line-height: 1.4;
}

.ShippingDetails-text h4 {
    padding-bottom: 0.5rem;
    color: rgb(0, 0, 0)
}

.ShippingDetails-text p {
    color: rgba(25, 53, 68, 1);
    padding-bottom: 0;
    margin-bottom: 2px;
}

.BillingDetails-text {
    padding-right: 10px;
    line-height: 1.4;
}

.BillingDetails-text h4 {
    padding-bottom: 0.5rem;
    color: rgba(0, 0, 0, 1)
}

.BillingDetails-text p {
    color: rgba(25, 68, 63, 1);
    padding-bottom: 0;
    margin-bottom: 2px;
}

.status {
    padding-left: 2rem
}
.status img{
    max-width:80% ;
    
}
.order-button{
    margin-top: 1.8rem;
    margin-bottom: -1rem;
}
.order-link{
    margin-top: 1rem;
    width: fit-content;
    margin: auto;
}
.order-link button {
    color: #fff;
    /* padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5;
    padding-bottom: 0.5; */
    border-radius: 6px;
    border: none;
    margin-top: 3%;
    background: var(--Dark-Green-Gradient, linear-gradient(34deg, #29645E 1.8%, #188479 105.45%));
    box-shadow: 0px 7px 20px 0px rgba(21, 60, 56, 0.00), 0px 3px 7px 0px rgba(21, 60, 56, 0.30);
    padding: 1rem 4rem;
    font-size: 18px;
    margin-top: 1rem;
   
    margin:auto;
    /* width: fit-content; */

}



/* Carousel Part */

.card-carousel-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.recommended {
    padding: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    background-color: #19443F;
}

.foryou {
    padding: 0.1rem 1rem;
    color: white;
    background-color: #C8A33D;
}

.invoice-download {
    display: flex;
    flex-direction: row;
}

.invoice-download {
    display: flex;
    flex-direction: row;
}
.order-confirm-button-wrapper{
    display: flex;
    align-items: center;
    /* gap:1rem; */
}
.cancel-order-button{
    color: #fff;
    text-align: left;
    /* padding: 5px 20px; */
    background: var(--Dark-Green-Gradient, linear-gradient(34deg, #29645E 1.8%, #188479 105.45%));
    box-shadow: 0px 7px 20px 0px rgba(21, 60, 56, 0.00), 0px 3px 7px 0px rgba(21, 60, 56, 0.30);
    border-radius: 6px;
    width: fit-content;
    border: none;
    padding:1rem 3rem;
    /* font-weight: 500;
    font-size: 20px; */
    
    
}

.invoice-download button {
    color: #fff;
    text-align: left;
    padding: 5px 20px;
    background: var(--Dark-Green-Gradient, linear-gradient(34deg, #29645E 1.8%, #188479 105.45%));
    box-shadow: 0px 7px 20px 0px rgba(21, 60, 56, 0.00), 0px 3px 7px 0px rgba(21, 60, 56, 0.30);
    border-radius: 6px;
    width: fit-content;
    border: none;
    margin-left: auto;
    display: flex;
    column-gap: 20px;
    align-items: center;
    height: fit-content;
}

@media (max-width:992px) {
    .order-confirm .main-1{
        width: 95%;
        padding: 2rem;
    }
    .order-confirm .order-header .title h2{
        font-size: 25px;
    }
    .order-confirm .order-header .sub-title p{
        font-size: 14px;
    }
    .order-confirm .details h4{
        font-size: 18px;
    }
    .order-confirm .details p{
        font-size: 13px;
    }
    .order-confirm{
        padding-bottom: 3rem;
        .BillingDetails, .ShippingDetails, .OrderDetails{
            padding-left: 0.7rem;
            padding-top: 0.8rem;
            .row{
                column-gap: 2px;
            }
        }
    }
    .OrderDetails-text .row{
        display: flex;
        align-items: center;
    }
}
@media (max-width:768px) {
    .order-confirm .main-1{
        width: 97%;
        padding: 1rem;
    }
    .order-confirm .main-1 .all-data{
        flex-direction: column-reverse;
        .status{
            display: none;
        }
    }
    .order-confirm{
        .details{
            row-gap: 5px;
        }
        .BillingDetails, .ShippingDetails, .OrderDetails{
            width: 100%;
            
        }
        .invoice-download {
            padding-bottom: 1rem;
            button{
            margin: auto;
        }}
    }
    .order-link button{
        
        margin: 0px;
        margin-top:1rem;
    }
}
.cross{
    font-size: 7rem;
    /* background: var(--Dark-Green-Gradient, linear-gradient(34deg, #29645E 1.8%, #188479 105.45%)); */
}