.carousal {
    width: 100%;
}

.categoryCarouselItems {
    display: flex;
    gap: 5rem;
    overflow: hidden;
    margin: 0rem 0;
}

.arrow {
    position: absolute;
    border-radius: 3px;
    font-size: 3rem;
    display: flex;
    top: 25%;
    margin: 0 -3rem 0 -3rem;
}

.arrow:hover {
    color: black;
}

.next {
    right: 10px;
    color: #44A98B;
    font-size: 5rem;
    font-weight: 500;
}

.prev {
    left: 10px;
    color: #44A98B;
    font-size: 5rem;
    font-weight: 500;
}

/* New CSS */
.owl-carousel {
    width: 100%;
}

.item {
    width: 100%;
}

.item img {
    width: 100%;
}
.product-category .next {
    right: 10px;
    color: #44A98B;
    font-size: 6rem;
    top: 1rem;
}
.product-category .prev {
    right: 10px;
    color: #44A98B;
    font-size: 6rem;
    top: 1rem;
}

@media (max-width: 767px) {
    .product-category .next {
        display: none;
        right: 10px;
        color: #44A98B;
        font-size: 6rem;
        top: 1rem;
    }
    .product-category .prev {
        display: none;
        right: 10px;
        color: #44A98B;
        font-size: 6rem;
        top: 1rem;
    }
}