.carousal {
    width: 100%;
}

.categoryCarouselItems {
    display: flex;
    gap: 5rem;
    overflow: hidden;
    margin: 0rem 0;
}

.arrow {
    position: absolute;
    border-radius: 3px;
    font-size: 3rem;
    display: flex;
    top: 25%;
    margin: 0 -3rem 0 -3rem;
}

.arrow:hover {
    color: black;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

/* New CSS */
.owl-carousel {
    width: 100%;
}

.item {
    width: 100%;
}

.item img {
    width: 100%;
}
