.carouselItem {
    border-radius: 0.7rem;
    background-color: white;
    margin: 2%;
    overflow: hidden;

    .feature-textBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-left: 0.5rem;
    }

    .feature-product-image {
        height: 13.5rem;
        right: 0;
        background-size: cover;
    }
    img{
        height: 100%;
    }

    .category-name {
        color: var(--bright-green-primary, #44A98B);
        /* width: 66.633px; */
        /* height: 17.464px; */
        font-size: 15px;
        line-height: normal;
    }

    .product-name {
        color: var(--darkgreen-primary, #19443F);
        /* width: 342px; */
        font-weight: bold;
        font-size: 20px;
        line-height: 29.434px;
    }

    .review {
        color: var(--bright-green-primary, #44A98B);
        font-size: 15px;
        line-height: normal;
    }

    .price {
        color: var(--darkgreen-primary, #19443F);
        font-size: 20px;
        line-height: normal;
        margin-bottom: 0.6rem;
        font-weight: 700;
    }

    .cart-btn {
        border-radius: 7px;
        border: none;
        color: white;
        display: inline-flex;
        /* padding: 6.202px 24.81px; */
        /* padding-left: 0.6rem; */
        justify-content: center;
        align-items: center;
        margin-bottom: 1%;
        /* margin-left: 0.6rem; */
        font-size: 0.9rem;
        background: var(--primary-gradient-light, linear-gradient(79deg, #36914B 0.36%, #44A95C 58.15%, #7BF197 117.12%));
        box-shadow: 0px 8.683px 24.81px 0px rgba(21, 60, 56, 0.00), 0px 3.721px 8.683px 0px rgba(21, 60, 56, 0.30);
    }
    .know-more-but{
        padding-left: 0.6rem;
    }


    #review-icon {
        color: #C8A33D;
    }

    #wishlist-icon {
        margin-right: 5px;
        color: #44A98B
    }

    .wishlist {
        color: var(--bright-green-primary, #44A98B);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }

    /* .ratingAndReview {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-left: -2rem;
    } */

    .rating {
        list-style-type: none;
        display: flex;
        gap: 0.7rem;
    }

    .carousel-image {
        mask-image: linear-gradient(-90deg, black 0%, transparent 95%);
        height: 13.63rem;
    }
}

.feature-text-fields {
    /* position: absolute; */
    padding: 0.6rem 1.2rem 0.2rem;
}
.text-of-card{
    display: flex;
    flex-direction: column;
}
.feature-textBlock img{
    height: auto;
    padding-top: 20%;
}
.product-page-carousal .cart-btn{
    /* padding: 0; */
    margin: 0;
}