

.cart-page {
    color: white;
    width: 100%;
    padding:5rem 2rem;
    margin-bottom: 3rem;
    
}

.cart-overall {
    width: 80%;
    margin: auto;
}

.cart-header .page-header {
    font-size: 48px;
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    color: var(--darkgreen-primary, #19443F);
    text-align: center;
}

.cartTable {
    width: 100%;
    color: var(--darkgreen-primary, #19443F);
    margin-top: 4rem;
    margin-bottom: 4rem;
}



.checkout-subtotal {
    background-color: #f5f5f5;
    border: 2px solid #eaeaea;
    text-align: left;
    width: 30%;
}

.checkout-subtotal .subtotal p {

    color: black;
    margin: 1rem 1rem 1rem 1rem;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.checkout-subtotal .checkout button {
    width: 100%;
    color: white;
    background: var(--darkgreen-primary, #19443F);
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.checkout-address {
    margin: 1rem 1rem 1rem 1rem;
}

.checkout-address .checkout-address-heading h4 {
    color: black;
    font-weight: 700;
}

.checkout-address .checkout-address-text {
    color: black;
    line-height: 0.5;
    margin-top: 1rem;
}

.table-row td button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50;
    border: 1px solid #000000BC;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

div.emptyDiv{
    border: 1px solid var(--darkgreen-primary, #19443F);
    width: 100%;
    margin-bottom: 4rem;
   }

 