.cart-page {
  color: white;
  width: 100%;
  padding: 5rem 2rem;
  margin-bottom: 3rem;
}

.cart-overall {
  width: 80%;
  margin: auto;
}

.cart-page .checkout-btn {
  border: 1px solid white;
  /* border-radius: 5px; */
  /* margin-left: 10px; */
  cursor: pointer;
  background-color: #29645e;
  color: white;
  padding: 10px 23px 10px 23px;
  text-decoration: none;
  font-size: 16px;
  background-image: linear-gradient(    79deg,    #1D3534 0.36%,    #234926 58.15%,    #1f581b 117.12%  );
  border: none;
}

.cart-header .page-header {
  font-size: 48px;
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--darkgreen-primary, #19443f);
  text-align: center;
}

.cartTable {
  width: 100%;
  color: var(--darkgreen-primary, #19443f);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.checkout-subtotal {
  background-color: #f5f5f5;
  border: 2px solid #eaeaea;
  text-align: left;
  width: 30%;
}

.checkout-subtotal .subtotal p {
  color: black;
  margin: 1rem 1rem 1rem 1rem;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.checkout-subtotal .checkout button {
  width: 100%;
  color: white;
  background: transparent;
  border: none;
  /* padding-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
}

.checkout-address {
  margin: 1rem 1rem 1rem 1rem;
}

.checkout-address .checkout-address-heading h4 {
  color: black;
  font-weight: 700;
}

.checkout-address .checkout-address-text {
  color: black;
  line-height: 0.5;
  margin-top: 1rem;
}

.table-row td button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50;
  border: 1px solid #000000bc;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

div.emptyDiv {
  border: 1px solid var(--darkgreen-primary, #19443f);
  width: 100%;
  margin-bottom: 4rem;
}

@media (max-width: 767px) {
  .cart-page {
    padding: 3rem 0;
    padding-bottom: 8rem;
  }
  .cart-page .cart-overall {
    width: 90%;
  }
  .cart-page .cart-header h2 {
    font-size: 3rem;
  }
  .cart-page .table-head .table-row th,
  .cart-page .table-body td,
  .cart-page .table-footer td {
    font-size: 12px;
  }
  .cart-page .table-row td button {
    height: 15px;
    width: 15px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 10px;
    line-height: 1;
    padding: 2px;
  }
  .checkout-subtotal {
    width: 100%;
  }
}
