.heading {
  position: relative;
  padding-bottom: 5.5rem;
}
.header {
  background-color: var(--darkgreen-primary, #19443f);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 20px 3%;
  position: fixed;
  z-index: 999;
}

.header .link-section {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.header .link-section a span {
  font-weight: 600;
  font-size: 16px;
}

.header .login-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: auto;
}

.header .logo-section img {
  width: 150px;
}

.header .link-section a {
  padding: 4px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.login-section .register,
.login-section .signin {
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #29645e;
  color: white;
  padding: 10px 23px 10px 23px;
  text-decoration: none;
  font-size: 16px;
}
.login-section .register {
  background-image: linear-gradient(
    79deg,
    #36914b 0.36%,
    #44a95c 58.15%,
    #7bf197 117.12%
  );
  border: none;
}
.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  color: #f1c40f;
  background: #f1c40f;
}

.active-link {
  color: #f1c40f !important;
}
@media(max-width:767px){
  .heading {
    padding-bottom: 4rem;
  }
  .header {
    padding-top: 4rem;
    height: 3rem;
    padding-bottom: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .heading {padding-bottom: 2.5rem;
    margin-top: 1rem;}
}
@media (max-width: 992px) {
  .heading {
    padding-bottom: 4rem;
  }
  .header {
    padding-top: 4rem;
    height: 3rem;
    padding-bottom: 4.5rem;
  }
  .heading .header .offcanvas .offcanvas-body .link-section {
    display: flex;
    flex-direction: column;
  }
  .heading .header .offcanvas .offcanvas-body .link-section a {
    color: #19443f;
    width: fit-content;
  }
  .header .login-section {
    justify-content: flex-start;
    margin-top: 1rem;
  }
  .heading .header button {
    color: white;
  }
}