.all-products-card .carouselItem {
  background-color: transparent;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  .col-gapping{
    height: 100%;
    .textBlock{
      height: 100%;
    }
  }

  .product-image {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    max-height: 250px;
    z-index: 0 !important;
    position: relative;
  }
  img {
    width: 100%;
    margin: auto;
    height: 250px;
  }

  .category-name {
    color: var(--bright-green-primary, #44a98b);
    font-size: 15px;
    line-height: normal;
  }

  .review {
    color: var(--bright-green-primary, #44a98b);
    font-size: 15px;
    line-height: normal;
  }

  .price {
    color: var(--darkgreen-primary, #19443f);
    font-size: 20px;
    line-height: normal;
    margin-bottom: 0.6rem;
    font-weight: 700;
  }

  .cart-btn {
    border-radius: 7px;
    border: none;
    color: white;
    display: inline-flex;
    /* padding: 6.202px 24.81px; */
    margin: 0;
    justify-content: center;
    align-items: center;
    background: var(
      --primary-gradient-light,
      linear-gradient(79deg, #36914b 0.36%, #44a95c 58.15%, #7bf197 117.12%)
    );
    box-shadow: 0px 8.683px 24.81px 0px rgba(21, 60, 56, 0),
      0px 3.721px 8.683px 0px rgba(21, 60, 56, 0.3);
  }

  #review-icon {
    color: #c8a33d;
  }

  #wishlist-icon {
    margin-right: 5px;
    color: #44a98b;
  }
 

  .wishlist {
    color: var(--bright-green-primary, #44a98b);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }

  .ratingAndReview {
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    justify-content: space-between;
    align-items: center;
    /* margin-left: -2rem; */
    margin-bottom: 1rem;
  }

  .rating {
    list-style-type: none;
    display: flex;
    /* gap: 0.5rem; */
    padding-left: 0;
  }
  ul {
    margin: 0;
    padding-right: 5px;
  }
}

.text-fields {
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}
.textBlock {
  max-width: 100%;
  max-height: fit-content;
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  padding-bottom: 2%;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.120);
  position: relative;
  z-index: 0;
}

.carouselItem .col-gapping {
  padding: 10px;
}
.best-seller-product .carouselItem {
  width: 100%;
}

.best-seller-product {
  background-color: transparent;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin: 20px;
  /* box-shadow: 0px 10px 30px 0px #19443F33; */

  .product-image {
    background-size: cover;
    max-width: 100%;
    background-size: cover;
    width: 100%;
    max-height: 250px;
  }
  img {
    width: 100%;
    margin: auto;
    height: 230px;
  }

  .category-name {
    color: var(--bright-green-primary, #44a98b);
    font-size: 15px;
    line-height: normal;
  }

  .review {
    color: var(--bright-green-primary, #44a98b);
    font-size: 15px;
    line-height: normal;
  }

  .price {
    color: var(--darkgreen-primary, #19443f);
    font-size: 20px;
    line-height: normal;
    margin-bottom: 0.6rem;
    font-weight: 700;
  }

  .cart-btn {
    border-radius: 7px;
    border: none;
    color: white;
    display: inline-flex;
    /* padding: 6.202px 24.81px; */
    margin: 0;
    justify-content: center;
    align-items: center;
    background: var(
      --primary-gradient-light,
      linear-gradient(79deg, #36914b 0.36%, #44a95c 58.15%, #7bf197 117.12%)
    );
    box-shadow: 0px 8.683px 24.81px 0px rgba(21, 60, 56, 0),
      0px 3.721px 8.683px 0px rgba(21, 60, 56, 0.3);
  }

  #review-icon {
    color: #c8a33d;
  }

  #wishlist-icon {
    margin-right: 5px;
    color: #44a98b;
  }

  .wishlist {
    color: var(--bright-green-primary, #44a98b);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }

  .ratingAndReview {
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    justify-content: space-between;
    align-items: center;
    /* margin-left: -2rem; */
    margin-bottom: 1rem;
  }

  .rating {
    list-style-type: none;
    display: flex;
    /* gap: 0.5rem; */
    padding-left: 0;
  }
  ul {
    margin: 0;
    padding-right: 5px;
  }
}

.best-seller-product .textBlock {
  max-width: 100%;
  max-height: fit-content;
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  padding-bottom: 2%;
  height: 100%;
}

.best-seller-product .col-gapping {
  padding: 10px;
  height: 100% !important;
  /* background-color: #d9ebe8; */
}

.latest-post-card .product-image img {
  height: 250px;
  width: 100%;
}
.latest-post-card .col-gapping {
  padding: 10px;
  background-color: #D9EBE8;
  height: 100%;
}
.shop-page-container .blog-latest-post {
  padding: 4%;
}
.shop-page-container .blog-latest-post {
  .ratingAndReview {
    display: flex;
    flex-direction: row;
    /* gap: 2rem; */
    justify-content: space-between;
    align-items: center;
    /* margin-left: -2rem; */
    margin-bottom: 1rem;
  }

  .rating {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    /* gap: 0.5rem; */
    padding-left: 0;
  }
}

.latest-post-card .carouselItem{
    margin: 0 !important;
}
@media (max-width: 768px){
  .single-product .textBlock .text-fields,.latest-post-card .textBlock .text-fields, .all-products-card .textBlock .text-fields {
    padding-top: 5rem !important;
    z-index: 9999;
    background-image: linear-gradient(to top, white 71%, #ffffff00 100%);
    margin-top: -11rem;
    position: relative;
   
  } 
  
  
  .best-seller-product .textBlock .text-fields {
    padding-top: 5rem !important;
    z-index: 9999;
    background-image: linear-gradient(to top, white 71%, #ffffff00 100%);
    margin-top: -9rem;
    position: relative;
   
  } 
  .latest-post-card .textBlock .price,.best-seller-product .textBlock .price, .all-products-card .textBlock .text-fields .price {
    font-weight: bold;
    font-size: 16px;
    /* margin-bottom: 0; */
    
  }
  .text-fields .product-name{
    font-size: 20px;
    padding: 0%;
    margin: 0%;
  }
  .latest-post-card .textBlock .text-fields .ratingAndReview,.best-seller-product .textBlock .text-fields .ratingAndReview , .all-products-card .textBlock .text-fields .ratingAndReview{
    margin-bottom: 0.5rem;
  }
  .latest-post-card .textBlock .text-fields .text-fields .category-name ,.best-seller-product .text-fields .category-name.ratingAndReview , .all-products-card .textBlock .text-fields .category-name{
    margin: 0;
  }
  .blogpage .card-body {
    padding-top: 5rem !important;
    background-image: linear-gradient(to top, white 71%, #ffffff00 100%);
    margin-top: -11rem;
  }
}
@media (max-width: 992px){
  .single-product .textBlock .text-fields,.latest-post-card .textBlock .text-fields, .all-products-card .textBlock .text-fields {
    padding-top: 5rem !important;
    z-index: 9999;
    background-image: linear-gradient(to top, white 71%, #ffffff00 100%);
    margin-top: -11rem;
    position: relative;
   
  } 
  .textBlock .text-fields .category-name{
    font-size: 1rem;

  }
  .textBlock .text-fields .product-name{
    font-size: 1.3rem;
   
  }
  .best-seller-product .textBlock .text-fields {
    padding-top: 5rem !important;
    z-index: 9999;
    background-image: linear-gradient(to top, white 71%, #ffffff00 100%);
    margin-top: -9rem;
    position: relative;
   
  } 

.shop-page-container
.all-products {
  padding: 2rem 0;
}
.latest-post-card .textBlock .text-fields .ratingAndReview, .best-seller-product .textBlock .text-fields .ratingAndReview, .all-products-card .textBlock .text-fields .ratingAndReview{
  font-size: 12px;
}
.latest-post-card .textBlock .text-fields .ratingAndReview .review, .best-seller-product .textBlock .text-fields .ratingAndReview .review, .all-products-card .textBlock .text-fields .ratingAndReview .review{
  font-size: 14px;
}
.text-fields{
  padding:1rem 0.7rem 0.8rem 0.7rem
}

}