.text-register {
    font-family: Montserrat, sans-serif;
}

.text-create-account {
    font-family: Montserrat, sans-serif;
    color: rgba(25, 68, 63, 1);
}

.div {
    height: 100%;
    background: linear-gradient(90deg,
            rgba(41, 100, 94, 0.1) -0.43%,
            rgba(68, 169, 139, 0.1) 99.93%),
        #fff;
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
}

.div-2 {
    background-color: var(--darkgreen-primary, #19443f);
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 29px 15px 47px;
}

@media (max-width: 991px) {
    .div-2 {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.img {
    aspect-ratio: 2.63;
    object-fit: contain;
    object-position: center;
    width: 126px;
    overflow: hidden;
    max-width: 100%;
}

.span {
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto 0;
}

@media (max-width: 991px) {
    .span {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-3 {
    color: var(--yellow-primary, #c8a33d);
    white-space: nowrap;
    font: 400 18px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-3 {
        white-space: initial;
    }
}

.div-4 {
    color: #fff;
    font: 400 18px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-5 {
    color: #fff;
    font: 400 18px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-6 {
    color: #fff;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 18px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-6 {
        white-space: initial;
    }
}

.div-7 {
    align-self: center;
    display: flex;
    gap: 18px;
    margin: auto 0;
}

.span-2 {
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 7px 20px 0px rgba(21, 60, 56, 0.3),
        0px 3px 7px 0px rgba(21, 60, 56, 0.3);
    background-color: var(--primary-gradient-light,
            linear-gradient(79deg,
                #36914b 0.36%,
                #44a95c 58.15%,
                #7bf197 117.12%));
    flex-grow: 1;
    padding: 10px 23px;
    font: 400 18px Inter, sans-serif;
}

@media (max-width: 991px) {
    .span-2 {
        white-space: initial;
        padding: 0 20px;
    }
}

.span-3 {
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    border-radius: 6px;
    border: 2px solid #fff;
    background-color: #29645e;
    flex-grow: 1;
    padding: 10px 29px;
    font: 400 18px Inter, sans-serif;
}

@media (max-width: 991px) {
    .span-3 {
        white-space: initial;
        padding: 0 20px;
    }
}

.div-8 {
    align-self: center;
    width: 100%;
    max-width: 925px;
    margin: 98px 0 36px;
}

@media (max-width: 991px) {
    .div-8 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-9 {
    display: flex;
}

@media (max-width: 991px) {
    .div-9 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 53%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.sign_up .div-10 {
    border-radius: 0px 19px 19px 0px;
    border: 0px solid #fff;
    background: linear-gradient(34deg, #29645e 1.8%, #188479 105.45%);
    box-shadow: 0px 16px 20px -10px rgba(7, 54, 49, 0.5);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
    }
}

.div-11 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 583px;
    width: 100%;
    padding: 29px 37px 2px;
}

@media (max-width: 991px) {
    .div-11 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.img-2 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.span-4 {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.img-3 {
    aspect-ratio: 2.59;
    object-fit: contain;
    object-position: center;
    width: 83px;
    overflow: hidden;
    max-width: 100%;
}

.div-12 {
    color: var(--light-base-green-2, #ebf6f5);
    text-align: right;
    margin-top: 19px;
    font: 700 44px/46px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.sign_up .img-4 {
    aspect-ratio: 0.97;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 57px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 47%;
    /* margin-left: 20px; */
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.sign_up .span-5 {
    border-radius: 19px 0px 0px 19px;
    border: 1px solid #19443f;
    box-shadow: 0px 16px 20px -10px rgba(7, 54, 49, 0.5);
    background-color: #dae7e6;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 50px 58px;
}

@media (max-width: 991px) {
    .span-5 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.sign_up .div-13 {
    color: var(--darkgreen-primary, #19443f);
    align-self: center;
    margin-top: 56px;
    white-space: nowrap;
    font: 700 28px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-13 {
        margin-top: 40px;
        white-space: initial;
    }
}



.span-6 {
    background-color: var(--light-base-green-2, #ebf6f5);
    display: flex;
    margin-top: 32px;
    padding-right: 0;
    justify-content: space-between;

}

@media (max-width: 991px) {
    .span-6 {
        padding-right: 20px;
    }
}

.div-14 {
    background-color: var(--bright-green-primary, #44a98b);
    display: flex;
    width: 7px;

    flex-direction: column;
}

.div-15 {
    color: #29645e;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    font: 400 14px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
    
}
.button_otp {
    background-color: #19443f;
    color: #fff;
}

@media (max-width: 991px) {
    .div-15 {
        white-space: initial;
    }
}

.span-7 {
    background-color: var(--light-base-green-2, #ebf6f5);
    display: flex;
    margin-top: 24px;
    padding-right: 0px;
    justify-content: space-between;
    /* gap: 20px; */
}

@media (max-width: 991px) {
    .span-7 {
        padding-right: 20px;
    }
}

.div-16 {
    background-color: var(--bright-green-primary, #44a98b);
    display: flex;
    width: 7px;

    flex-direction: column;
}

.div-17 {
    color: #29645e;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 14px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-17 {
        white-space: initial;
    }
}

.span-8 {
    display: flex;
    margin-top: 37px;
    justify-content: space-between;
    gap: 11px;
}

.div-18 {
    border: 1px solid var(--bright-green-primary, #44a98b);
    background-color: var(--light-base-green-2, #ebf6f5);
    display: flex;
    width: 13px;
    height: 13px;
    flex-direction: column;
}

.div-19 {
    color: #000;
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 12px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.sign_up .span-9 {
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 31px;
    box-shadow: 0px 7px 20px 0px rgba(21, 60, 56, 0.3),
        0px 3px 7px 0px rgba(21, 60, 56, 0.3);
    background-image: 
            linear-gradient(79deg,
                #36914b 0.36%,
                #44a95c 58.15%,
                #7bf197 117.12%);
    align-self: center;
    margin-top: 29px;
    width: 272px;
    max-width: 100%;
    padding: 10px 60px;
    font: 700 18px Montserrat, -apple-system, Roboto, Helvetica,
        sans-serif;
        border: 0;
}

.sign_up button:hover {
    background-image: 
            linear-gradient(-79deg,
                #36914b 0.36%,
                #44a95c 58.15%,
                #7bf197 117.12%);
    cursor: pointer;
    
}

@media (max-width: 991px) {
    .span-9 {
        white-space: initial;
        padding: 0 20px;
    }
}

.div-20 {
    color: #19443f;
    align-self: center;
    margin-top: 31px;
    white-space: nowrap;
    font: 400 12px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-20 {
        white-space: initial;
    }
}

.div-21 {
    align-self: center;
    display: flex;
    gap: 14px;
    margin: 20px 0 8px;
}

.div-22 {
    align-items: center;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0px 2px 4px 0px rgba(41, 100, 94, 0.3);
    background-color: var(--light-base-green-2, #ebf6f5);
    display: flex;
    aspect-ratio: 1;
    flex-direction: column;
    justify-content: center;
    height: 39px;
    flex: 1;
    padding: 0 7px;
}

.img-5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

.div-23 {
    align-items: center;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0px 2px 4px 0px rgba(41, 100, 94, 0.3);
    background-color: var(--light-base-green-2, #ebf6f5);
    display: flex;
    aspect-ratio: 1;
    flex-direction: column;
    justify-content: center;
    height: 39px;
    flex: 1;
    padding: 0 7px;
}

.img-6 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

input[type="tel"],
input[type="tel"] {
    border: none;
    padding: 10px;
    background: transparent;
    width: 100%;
    height: 100%;
}

input[type="tel"]:focus {
    outline: 0;
}

input[type="text"],
input[type="text"] {
    border: none;
    padding: 10px;
    background: transparent;
    width: 100%;
    height: 100%;
}

input[type="text"]:focus {
    outline: 0;
}

/* .input-phone input{
  width: 100%;
  border-left: 7px solid green;
  padding: 10px;
} */


.button_otp {
    width: 150px;
}