/* @import url('./../assets/Footer_img.png'); */

.footer .main-footer .upper-container {
  height: 130px;
  width: 100%;
  background-color: #44A98B;
  border-bottom: 10px solid;
}
.footer .main-footer .bottom-container{
  background-color: rgba(41, 100, 94, 1);
  min-height: 402px;
  padding: 100px 75px;
}
.footer .main-footer .footer-nav{
  height: 80%;
  display: flex;
  align-items: end;
  /* margin-top: 100px; */

}
.footer .main-footer .footer-nav .row .column1 h6{
  font-weight: bold;
}
.footer .main-footer .upper-container .row .column2 h6{
  height: 15px;
  color: #44A98B;
}
.footer .main-footer .footer-nav .row {
display: flex;
justify-content: space-around;
flex-direction: row;
width: 100%;
color: white;
}

.footer .main-footer .footer-nav .row .column2 a{
  color: white;
  text-decoration: none;
}
.footer .main-footer .footer-nav .row .column2 h6 {
  font-weight: bold;
}

/* .footer .main-footer .col-4 ,.footer .main-footer .col-3,.footer .main-footer .col-6{
display: flex;
/* justify-content: end; */
/* flex-direction: column; */



.footer .main-footer .column3 img {
width: 215px;
height: 82px;
top: 366px;
left: 904px;
}
.footer .main-footer .column3{
  text-align: right;
}

.footer-contact{
  width: 70%;
  margin: auto;
}

.footer .footer-contact{

  background-image: url('./../../assets/Footer_img.png');

  padding: 20px 50px;
  min-height: 200px;
  width: 80%;
  /* margin-top: 100px; */
  background-repeat: no-repeat;
  background-size: cover;

}