.footer .main-footer {
    background-color: rgba(41, 100, 94, 1);
}

.footer .main-footer .container .row{
    display: flex;
}

.footer .main-footer .container .row .col-1{
    width:33%;
}

.footer .main-footer .container .row .col-2{
    width:33%;
    display: flex;
    flex-direction: row;
}
.col-2-1 ,.col-2-2 {
    width:50%;

}

.footer .main-footer .container .row .col-3{
    width:34%;
}
