.footer .main-footer .upper-container {
  height: 130px;
  width: 100%;
  background-color: #44a98b;
  border-bottom: 10px solid;
  border-color: #c8a33d;
}
.footer .main-footer .bottom-container {
  background-color: rgba(41, 100, 94, 1);
  min-height: 402px;
  padding: 100px 75px;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.footer .main-footer .footer-nav {
  height: 80%;
  display: flex;
  align-items: end;
  width: 90%;
  margin: auto;
  padding-top: 50px;
}
.footer .main-footer .footer-nav .row .column1 h6 {
  font-weight: bold;
}
.footer .main-footer .upper-container .row .column2 h6 {
  height: 15px;
  color: #44a98b;
}
.footer .main-footer .footer-nav .row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  color: white;
}

.footer .main-footer .footer-nav .row .column2 a {
  color: white;
  text-decoration: none;
}
.footer .main-footer .footer-nav .row .column2 h6 {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .main-footer .website-icons i {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.footer .main-footer .column3 {
  text-align: right;
}
.footer .middle-container{
  width:70%;
  margin: auto;
}
.footer .full-form{
  background-image: url("../../assets/footer-background.webp");
  background-repeat: no-repeat;
  background-size:100% 100%;
  width: 100%;
  margin-top: -300px;
  position: relative;
}

.footer .in-image{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.footer .form-content{
  padding: 25px;
}
.footer textarea{
  background-color: transparent !important;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.footer .send-button{
  display: flex;
  padding: 3px;
}
.footer .franchise-content-para-bt a{
  text-decoration: none;
}
.footer .send-message-button {
  background-image: linear-gradient(
    79deg,
    #36914b 0.36%,
    #44a95c 58.15%,
    #7bf197 117.12%
  );
  color: white;
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.footer .input-columns .name,.footer .input-columns .email,.footer .input-columns .message {
  display: flex;
}
.footer .input-columns .input-sec{
  background-color: #D9EAE8;
  width: 100%;
  margin-bottom: 10px;
  border-left:  5px solid #44a98b;
  
}
.footer .form{
  padding: 50px;
  background-color: #0a3834bc;
  width: 90%;
  margin: auto;
  border-radius: 20px;
}
.footer .circle-image{
  position: absolute;
}
.footer .aao-baat-kre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 10%;
  margin-left: 5%;
}
.footer .aao-baat-kre h1{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 110px;
  font-size: 60px;
}
.footer input {
  border: none;
  background-color: #D9EAE8;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
}
.footer .headingMainText {
  width: fit-content;
  text-align: right;
  /* padding-left: 27px; */
  padding-left: 7%;
  padding-top: 13%;
}

.footer .headingMainText h1 {
  font-weight: 700;
  line-height: 1.5;
  font-family: "Eczar", serif;
  font-size: 60px;
  margin-bottom: 0;
  
}
.footer .headingMainText h1 span{
  background-color: #C8A33D;
  padding: 1px 5px;
  font-family: "Eczar", serif;
}
.footer .form-img{
  background-image: url("../../assets/footer-mask.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-height: 100%;
}
input:focus, textarea:focus {
  outline: none;
}
.footer .aao-baat-kre p{
  color: white;
  font-size: 18px;
}
.footer-desc {
  width: 14rem;
}
