section {
    width: 100%;
    min-height: calc(100vh - 80px);
}

.checkout-page {
    padding-bottom: 3rem;
}

.checkout-page-form {
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.checkout-page .checkout-page-heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 8.5rem;
    color: rgb(25, 68, 63)
}

.checkout-page form {
    margin-top: 45px;
    width: 100%;
    padding: 10px 50px;
}

.checkout-page .checkout-page-input input {
    width: 100%;
    padding: 11px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;
}

.checkout-page .checkout-page-input label {
    font-weight: 600;
    font-size: 15px;
}

.checkout-page-payment-details {
    border-style:solid;
    border-color: rgb(25, 68, 63);
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 2.5rem;
}

.checkout-page-payment-details .checkout-btn,.checkout-page-form .checkout-btn {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: rgb(25, 68, 63);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.checkout-page-table-details {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.checkout-table {
    width: 100%;
}
